<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/VAN ANH/formy_project/src/main/java/TestNGExample">
        <classes>
            <class name="TestNGExample.TestNGProject1">
                <methods>
                    <include name="testSetup"/>
                    <include name="testLogin"/>
                    <include name="testLogout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>